@import '../../../assets/style/core/core_token';

button.apresentacaoButton{
  color: $background-white;
  background:linear-gradient(180deg, rgba(13,144,194,1) 20%, rgb(0, 94, 97)) ;
  border: none;
  border-radius:15px ;
  font-size: 16px;
  font-weight: 500;
  padding: 1rem;
  width: 25.2rem;
  height: 3.43rem;
  transition:  .3s ease;



  &:hover{
    animation: vibrate 1s linear 0s infinite normal none;
    transition: .3s ease;
  }
}

@keyframes vibrate{

  0% {
    transform:translateY(0);
  }
  25% {
    transform:translateY(0);
  }
  40% {
    transform:translateY(-14px);
  }
  55% {
    transform:translateY(0);
  }
  65% {
    transform:translateY(-6px);
  }
  75% {
    transform:translateY(0);
  }
  82% {
    transform:translateY(-3px);
  }
  87% {
    transform:translateY(0);
  }
  93% {
    transform:translateY(-2px);
  }
  100% {
    transform:translateY(0);
  }
}
