<div class="mainWrapperFaleConosco">
  <tc-navbar></tc-navbar>
  <!-- Conteúdo


  - [ ] Organização do formulário
  - [x] Recuperação do CEP automaticamente
  - [x] Recuperar UFs
  - [ ] Validações do formulário
  - [x] Envio do formulário
    - [x] Fazer criação do contato pegando o id do cliente
  - [ ] Formas de recuperar os dados do formulário-->

  <section class="formFaleConosco">

    <form #form class="formWrapper">
      <span class="form-group">
        <h1 class="formTitle">
          Fale Conosco
        </h1>
        <h4>Preencha alguns dados e nos envie para que nossa equipe possa entrar em contato o quanto antes</h4>
        <fieldset class="costumerFormGroup">

          <span class="input-name">
            <label for="name">Nome</label>
            <input required name="name" placeholder="Nome" [(ngModel)]="costumerModel.costumerName" type="text">
          </span>

          <span class="email">
            <label for="email">Email</label>
            <input required name="email"  placeholder="meuemail@email.com" type="text" [(ngModel)]="costumerModel.email">
          </span>

          <span class="contato">
            <label for="contato">Numero de contato</label>
            <input required name="contato" mask="(00) 00000-0000"  placeholder="(00) 00000-0000" type="text" [(ngModel)]="costumerModel.contact">
          </span>

         <!--  <span>
            <label for="birthday">Data de aniversário</label>
            <input type="date" name="birthday"  [(ngModel)]="costumerModel.birtday" id="">
          </span>

          <span class="input-relacao">
            <label for="relationship">Estado civil</label>
            <select name="relationship" [(ngModel)]="costumerModel.relationship" class="form-select">
              <option>Escolha um estado civil</option>
              <option>SOLTEIRO</option>
              <option>CASADO</option>
              <option>DIVORCIADO</option>
              <option>VIUVO</option>
            </select>
          </span> -->
         <!--  <span class="input-rg">
            <label for="rg">RG</label>
            <input required name="rg" mask="0.000.000" placeholder="0.000.000" type="text" [(ngModel)]="costumerModel.rg">
          </span> -->
          <!-- <span class="input-cpf">
            <label for="cpf">CPF</label>
            <input required name="cpf" mask="000.000.000-00" placeholder="000.000.000-00" type="text" [(ngModel)]="costumerModel.cpf">
          </span> -->
        </fieldset>
       <!--  <fieldset>
          <span class="CEPformGroup">
            <span class="input-cep">
              <label for="cep">CEP</label>
              <input required (keyup)="getCep(costumerModel.address.cep)" type="text" name="cep" mask="00000-000" placeholder="00000-000"  [(ngModel)]="costumerModel.address.cep">
              <span class="error" *ngIf="costumerModel.address.invalidCep">
                <p>CEP Inválido</p>
              </span>
            </span>

            <span class="input-rua">
              <label for="street">Rua</label>
              <input name="street" type="text" [(ngModel)]="costumerModel.address.street">
            </span>

            <span class="input-nm">
              <label for="number">Nº</label>
              <input name="number" type="text" [(ngModel)]="costumerModel.address.number">
            </span>

            <span class="input-complemento">
              <label for="complemento">Complemento</label>
              <input name="complemento" type="text" [(ngModel)]="costumerModel.address.complement">
            </span>

            <span class="input-cidade">
              <label for="city">Cidade</label>
              <input name="city" type="text" [(ngModel)]="costumerModel.address.city">
            </span>

            <span class="input-uf">
              <label for="uf">UF</label>
              <select  name="uf" type="text"  [(ngModel)]="costumerModel.address.uf" class="form-select">
       
                <option *ngFor="let i of UF" [value]="i">{{i}}</option>
              </select>
            </span>
          </span>
        </fieldset> -->

        <span class="input-descricao">
          <label for="descricao">Descreva seu caso</label>
          <textarea
          placeholder="Descreva seu caso"
          [(ngModel)]="costumerModel.descricao"
          name="description"
          rows="10"></textarea>
        </span>

        <span class="callToActionButtons">
          <a (click)="sendContact()" class="talkWithUs">
            <span><img src="../../../assets/imgs/icons/ChatIcon.svg" alt="Chat"></span>
            <p>Contate-nos</p>
          </a>
          <a target="_blank" [href]="'https://api.whatsapp.com/send?phone=5508173003237&text='+ msgZap" class="whatsapp">
            <span><img src="../../../assets/imgs/icons/whatsapp-svgrepo-com.svg" alt="Whatsapp"></span>
            <p>Whatsapp</p>
          </a>
        </span>
      </span>


    </form>

  </section>

  <tcv-footer></tcv-footer>
  <tcv-loading [loading]="isLoading"></tcv-loading>
</div>
