.wrapper{
  display: flex;

}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  height: 72px;
  line-height: 65px;
  overflow: hidden;
  width: fit-content;
}
.dynamic-txts li{
  list-style: none;
  font-size: 48px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
  white-space: nowrap;
  width: fit-content;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #0d292a;
  border-left: 2px solid #fff;
  animation: typing 3s steps(15) infinite;

}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

a.apresentacaoButton1{
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #fff;
  background:linear-gradient(180deg, rgba(13,144,194,1) 20%, rgb(0, 94, 97)) ;
  border: none;
  border-radius:15px ;
  font-size: 16px;
  font-weight: 500;
  padding: 1rem;
  width: 14rem;
  height: 3.43rem;
  transition:  .3s ease;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  text-decoration: none;
  span>img{
    width: 35px;
    height: 35px;
    color: white;
  }

  &:hover{
    transform: scale(1.1);
    transition: .3s ease;
    box-shadow:  #0d90c2 0px 0px 36px 0px;
  }
}



@keyframes vibrate{

  0% {
    transform:translateY(0);
  }
  25% {
    transform:translateY(0);
  }
  40% {
    transform:translateY(-14px);
  }
  55% {
    transform:translateY(0);
  }
  65% {
    transform:translateY(-6px);
  }
  75% {
    transform:translateY(0);
  }
  82% {
    transform:translateY(-3px);
  }
  87% {
    transform:translateY(0);
  }
  93% {
    transform:translateY(-2px);
  }
  100% {
    transform:translateY(0);
  }
}
