<div class="mainWrapperHome">
  <tc-navbar></tc-navbar>
  <!-- TODO
REFINAR ESTILIZAÇÃO DA PÁGINA

- [x] Apresentação
    - [X] Mudança dinâmica de frases na Home
    - [x] Link pra contato
    - [X] Correção de background
- [x] Areas de atuação
    - [X] Resolver bug de plotagem do slide
    - [ ] Slide + Frase de definição
      - [x] Mudança dinâmica de frases
      - [x] BackGrounds
      - [x] Correção de background
        - [x] Trabalhista
        - [x] cIVIL
      - [x] Estilização
      - [x] Comportamento
      - [x] Escolher ícones e imagens que ficarão em cada card
        - [x] Baixar
- [ ] Implementar
      - [X] Botões e controle
        - Docs - https://keen-slider.io/docs#event-hooks
        - Exemplo - https://codesandbox.io/s/github/rcbyr/keen-slider-sandboxes/tree/v6/navigation-controls/arrows-and-dots/angular?file=/src/app/app.component.ts


 - [x] Depoimentos
    - [ ] Integração com o backend
    - [ ] Mock de depoimentos
    - [x] Recolher depoimentos com thoma
- [ ] Chamada para a ação
    - [x] pesquisar
    - [x] Definir
    - [x] Validar
    - [x] Construir
    - [x] Botão de contato do fale conosco
      - [x] Fale conosco
      - [x] Whatsapp
- [ x] Footer
- [ ] Loading


-
-->

<section class="apresentacao1">
  <div class="descricaoWrapper">
    <div class="descricao">
      <h1 class="titulo">Resolva sua:

        <span class="wrapper">

          <ul class="dynamic-txts">
            <li><span class="destaque">Pendência jurídica </span></li>
            <li><span class="destaque">Pendência previdenciária</span></li>
            <li><span class="destaque">Reconciliação familiar</span></li>
            <li><span class="destaque">Alguma coisa juridica</span></li>
          </ul>
        </span></h1>

        <article>
          É um prazer ter você conosco.
          Aqui você encontra
          <span class="destaque">
            profissionais especializados nos mais diversos ramos do direito.
          </span>
            Nossa ideologia de trabalho é sempre te colocar nas mãos de quem sabe exatamente como resolver sua dor de cabeça.
          <span class="destaque">
            Trabalhamos com especialistas
          </span>

          porque  “quem sabe tudo”, não sabe nada.
        </article>
        <a
        target="_blank"
        [href]="'https://api.whatsapp.com/send?phone=5508173003237&text='+ msg"
        class="apresentacaoButton1"
        [type]="'APRESENTACAO'">
          Contate-nos Agora
        </a>
    </div>
    <span class="imgThomas1">
      <span class="fade"> </span>
      <img src="../../../assets/imgs/visualComponents/ftSemBg1.png" alt="imgThomas1">

    </span>

  </div>
</section>



<!-- TODO FAZER A PLOTAGEM DO ELEMENTOS DE SLIDE -->
<section class="areasDeAtuacaoHomeWrapper">
  <div class="areasDeAtuacaoHome">
    <span class="tituloAreaAtuacao">
      <h2 class="destaque">
        Áreas de atuação
      </h2>
    </span>
  </div>

  <tc-multi-cards
  class="multiCardsAreaAtuacao"
  (selectedCard)="selectCard(content,$event)"
  [dados]="dadosAreaAtuacao">
  </tc-multi-cards>
</section>



<section class="depoimentosHome">
    <span class="depoimentoTitle">
        <h2 [routerLink]="['/depoimentos']" class="destaque">
          Depoimentos  <a style="font-size: 15px; text-decoration: underline;" target="_blank" href="https://www.google.com/maps/place/Thomas+Cris%C3%B3stomo+-+Advocacia/@-8.0035888,-34.8453844,21z/data=!4m8!3m7!1s0x7ab3d37dda0a32d:0x17e989e132a8e94d!8m2!3d-8.0035407!4d-34.8452879!9m1!1b1!16s%2Fg%2F11dflg6s40?entry=ttu">Ver todos</a>
        </h2>

    </span>
    <div #statementPosition class="depoimentoPosition">
      <section #profile class="profileWrapper">
        <section *ngFor="let i of reviews" class="profile">
          <span class="profileImgWrapper">
            <img class="profileImg" [src]="i.profile_photo_url"  alt="profile">
          </span>
          <article class="profileText">
            <h3>{{i.author_name}}</h3>
            <!-- Descrição relativa ao tempo -->
            <h5>{{i.relative_time_description}}</h5>
            <!-- Estrelas  -->
            <span class="d-flex">
              <mat-icon class="star" *ngFor="let j of i.rating">star</mat-icon>
            </span>
            <!-- Review -->
            <p class="review">{{i.text}}</p>
          </article>
        </section>
      </section>
    </div>

</section>


<section class="calltoAction">
  <span class="calltoActionTitle">
    Tem alguma duvida ?
  </span>
  <span class="callToActionButtons">
    <button class="talkWithUs">
      <span><img src="../../../assets/imgs/icons/ChatIcon.svg" alt="Chat"></span>
      <p>Contate-nos</p>
    </button>
    <button class="whatsapp">
      <span><img src="../../../assets/imgs/icons/whatsapp-svgrepo-com.svg" alt="Whatsapp"></span>
      <p>Whatsapp</p>
    </button>
  </span>
</section>
<tcv-footer></tcv-footer>
<ng-template #content class="customModal" let-modal>
  <div style="background-color:#0d292a; color: white" class="modal-header d-flex align-items-center">
    <span class="mr-1"><img [src]="this.modalContent.icon" height="35px" width="35px"></span>
    <h4 class="modal-title" id="modal-basic-title">{{this.modalContent.title == 'Família' ?  'Direito da ' + this.modalContent.title : 'Direito ' + this.modalContent.title}}</h4>
    <mat-icon style="color: #fff; cursor: pointer;" aria-label="Close" (click)="modal.dismiss(false)" class="mat-18">close</mat-icon>

  </div>
  <div style="background-color: #0d292a; color: white; height: auto;" class="modal-body">
    {{this.modalContent.content}}
  </div>

  <div style="background-color: #0d292a;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;" class="modal-footer">
    <a
        target="_blank"
        [href]="'https://api.whatsapp.com/send?phone=5508173003237&text='+ msg"
        class="apresentacaoButton1"
        [type]="'APRESENTACAO'">
          Falar com especialista
        </a>
  </div>
</ng-template>
</div>
