
<div class="mainWrapperPostagem">
  <tc-navbar></tc-navbar>
<!--

  - [x] Recuperar todas as tags
  - [ ] Cabeçalho de post
  - [x] Criar Tags
  - [x] Deletar Tags
  - [x] Atualizar Tags
  - [x] Criar ambiente de edição markdown para posts
  - [ ] Corrigir Markdown para posts
    - [x] Listas
    - [ ] Tabelas
    - [ ] Citação
    - [ ] Italico
    - [ ] Posicionamento
    - [x] Imagens
    - [x] Links
  - [ ] Leitura de Markdown para posts
  - [ ] Publicação do post
  - [ ] Ler Posts



 -->
<!-- Operação de listagem de artigos -->
<section *ngIf="operation == 'LIST'" class="postListWapper">
  <header class="postagemTitle">
    <span class="title">
        <span >
          <h1>
            <!-- Aqui fica titulo -->
            Artigos
          </h1>
        </span>

        <span >
          <mat-icon [ngbTooltip]="'Escrever artigo'" (click)="validateUser(PostReading,content2)" class="icon">edit</mat-icon>
        </span>
    </span>


    <span class="filter">
      <input type="text" [(ngModel)]="searchFilter.title" (keyup)="aplicarFiltro()" name="title" placeholder="titulo da postagem">
    </span>


  </header>




    <ul class="PostList">
      <li class="postWapper" *ngFor="let postagem of FiteredPosts">
          <span (click)="changeOp('READ',postagem)" class="postTitle">
            <h3 [ngbTooltip]="postagem.postDTO.title">{{postagem.postDTO.title}}</h3>
          </span>
          <span class="postSubTitle">
            <p [ngbTooltip]="postagem.postDTO.subtitle">{{postagem.postDTO.subtitle}}</p>
          </span>

          <p class="postData">{{postagem.postDTO.date | date:'dd/MM/yyyy'}}</p>
          <button class="readMore" (click)="changeOp('READ',postagem)">Ler Mais</button>
      </li>
    </ul>

</section>


<!--- Operação de leitura de artigos ---->
<section
*ngIf="
operation == 'READ' ||
operation == 'UPDATE'"
class="postReadWapper">

<span class="backHeader">
  <mat-icon class="icon " (click)="changeOp('LIST',PostReading)" class="icon">arrow_back</mat-icon>
</span>

  <span class="tagWrapper">
    <span class="tag" *ngFor="let tag of PostReading.postDTO.tags">{{tag}}</span>
  </span>

  <header  class="postagemTitle">
    <h1>
      <!-- Aqui fica titulo -->
      {{PostReading.postDTO.title}}
    </h1>
  </header>

  <span class="postSubTitle">
    {{PostReading.postDTO.subtitle}}
  </span>

  <span (click)="share()" class="postIcons">
    <mat-icon class="icon">share</mat-icon>
  </span>

  <article class="texto">
    <markdown [data]="PostReading.postDTO.content"></markdown>
  </article>

</section>

<!--- Operação de Criacao de artigos ---->

<section
*ngIf="operation == 'CREATE'"
class="postCreateWapper">
<span class="backHeader">
  <mat-icon class="icon" (click)="changeOp('LIST',PostReading)" class="icon">arrow_back</mat-icon>
</span>

  <span *ngIf="PostReading.postDTO.tags.length > 0" class="tagWrapper">
    <span  class="tag" *ngFor="let tag of PostReading.postDTO.tags">
      {{tag}}
    <mat-icon (click)="removeTag(tag)">close</mat-icon>
    </span>
  </span>



  <header  class="postagemTitle">
    <!-- Titulo -->
    <span>
      <label for="title">Titulo</label>
      <input
      for="title"
      type="text"
      class="w-100"
      [(ngModel)]="PostReading.postDTO.title">
    </span>

    <!-- SubTitulo -->
    <span class="postSubTitle">
      <label for="title">Subtitulo</label>
      <input
      for="title"
      type="text"
      class="w-100"
      [(ngModel)]="PostReading.postDTO.subtitle">
    </span>

    <!-- Tags -->
    <span class="tagInput">
      <label for="tags">Tags</label>
      <span class="d-flex">
        <select #tagsInput (click)="addtag(tagsInput.value)" id="tags" class="w-100" [multiple]="true">
            <option *ngFor="let name of tags" [value]="name">
              {{name}}
            </option>
        </select>
        <mat-icon class="tagManager" (click)="modalTagsManager(content)" [ngbTooltip]="'Gerenciar tags'">settings</mat-icon>
      </span>
    </span>

  </header>

  <article class="texto">

    <angular-markdown-editor
    [textareaId]="'editor1'"
    name="markdownText"
    [rows]="20"
    [options]="editorOptions"
    [(ngModel)]="markdownText">
    </angular-markdown-editor>
  </article>
  <span  (click)="createPost()" [ngbTooltip]="'Publicar'" class="primaryButton">

    <mat-icon>publish</mat-icon>
  </span>
</section>

<!-- Modal de gerenciamento de tags -->

<ng-template #content let-modal>
	<div style="background-color:#222; color: white" class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Gerenciador de tags</h4>
    <mat-icon style="color: #fff; cursor: pointer;" aria-label="Close" (click)="modal.dismiss(false)" class="mat-18">close</mat-icon>
	</div>
	<div style="background-color:#222; color: white" class="modal-body">
		<!-- Listage, Deleção e inclusão de tags -->
    <table class="table-tagmanager" aria-labelledby="Tabela de gerenciamento de tags">
      <th>
        TAG
      </th>
      <th colspan="2">
        AÇÕES
      </th>
      <tr *ngFor="let data of tagHandler">
        <td *ngIf="data.operation == 'LIST'">{{data.tag}}</td>
        <td *ngIf="data.operation == 'LIST'"><mat-icon (click)="editToggle(data)" ngbTooltip="Editar tag">edit</mat-icon></td>
        <td *ngIf="data.operation == 'LIST'"><mat-icon (click)="deleteTag(data.tag)" ngbTooltip="Deletar tag">delete</mat-icon></td>
        <td *ngIf="data.operation == 'UPDATE' || data.operation == 'CREATE'"><input type="text" [(ngModel)]="data.tag"></td>
        <td *ngIf="data.operation == 'UPDATE' || data.operation == 'CREATE'"><mat-icon ngbTooltip="Editar tag" (click)="save(data)">done</mat-icon></td>
        <td *ngIf="data.operation == 'UPDATE' || data.operation == 'CREATE'"><mat-icon ngbTooltip="Cancelar edição" (click)="editToggle(data)">cancel</mat-icon></td>
      </tr>
    </table>
    <span (click)="create()" class="addTag"><mat-icon>add</mat-icon></span>
	</div>
	<div style="background-color:#222; color: white" class="modal-footer">
    <button type="button" class="primaryButton" (click)="modal.close(true)">Fechar</button>
	</div>
</ng-template>

<ng-template #content2 let-modal>
	<div style="background-color:#222; color: white" class="modal-header">
		<h2 class="modal-title" id="modal-basic-title">Login</h2>
    <mat-icon style="color: #fff; cursor: pointer;" aria-label="Close" (click)="modal.dismiss(false)" class="mat-18">close</mat-icon>
	</div>
	<div style="background-color:#222; color: white" class="modal-body">
    <!-- Formulário de login -->
    <div class="loginform">
      <input type="text" required [(ngModel)]="user.email" name="username" placeholder="Email">
      <input type="password" required [(ngModel)]="user.password" name="password"  placeholder="Senha">
    </div>
	</div>
  <div style="background-color:#222; color: white;justify-content: center;" class="modal-footer">
    <button type="button" class="primaryButton" (click)="modal.close(true)">Login</button>
    <button type="button" class="primaryButton" (click)="modal.close(false)">Fechar</button>
	</div>
</ng-template>
<tcv-footer></tcv-footer>
<tcv-loading [loading]="isLoading"></tcv-loading>
</div>
