.md-editor{
background-color:#1c1c1c !important;
}

mat-icon{
  cursor: pointer;
  transform: scale(1.00);
}


.tagManager{
  color: #fff;
  margin-left: 1rem;
}
.table-tagmanager{
  width: 100%;

}

.modal-body{
  height: 20rem;
}

th{
  font-weight: 700;
  border-bottom: 2px black solid;


}

td{
  text-align: start;
  padding: 0.5rem;
}
