<nav>
  <div class="faixaSuperior">
    <div class="contato">

        <span class="icon">
          <img src="../../../assets/imgs/icons/telefone.svg" alt="telefone:">
          <p>+55 81 9 9769-4604</p>
        </span>


        <span class="icon">
          <img src="../../../assets/imgs/icons/email.svg" alt="Email:">
          <p>contato@thomasvcg.com</p>
        </span>
    </div>
    <div class="socialMediaButton">
        <div class="socialMedia">
          <span class="icon">
            <img src="../../../assets/imgs/icons/facebook.svg" alt="Email:">
          </span>

          <span class="icon">
            <img src="../../../assets/imgs/icons/twitter.svg" alt="Email:">
          </span>

          <span class="icon">
            <img src="../../../assets/imgs/icons/linkedin.svg" alt="Email:">
          </span>

          <span class="icon">
            <img src="../../../assets/imgs/icons/instagram.svg" alt="Email:">
          </span>
        </div>

        <div class="embaixadoresButton">
          <button>
              Embaixadores
          </button>
        </div>
     </div>
  </div>

  <div class="faixaInferior">
    <div class="logo">
      <img src="../../../assets/imgs/Logo.png" height ="100px" width="100px" alt="logo">
    </div>


      <ul class="menuOpt">
        <li *ngFor="let i of menu">
          {{i.nome}}
        </li>
      </ul>

  </div>

</nav>
