<nav>
  <div class="faixaSuperior">
    <div class="contato">

        <span class="iconWrapper">
          <img src="../../../assets/imgs/icons/telefone.svg" alt="telefone:">
          <p>+55 81 9 7300-3237</p>
        </span>


        <span class="iconWrapper">
          <img src="../../../assets/imgs/icons/email.svg" alt="Email:">
          <p>contato@thomas.com</p>
        </span>
    </div>
    <div class="socialMediaButton">
        <div  class="socialMedia">
         <!--  <a target="_blank" [href]="" class="iconWrapper">
            <img src="../../../assets/imgs/icons/facebook.svg" alt="Email:">
          </a>

          <a target="_blank" [href]="" class="iconWrapper">
            <img height="24px" width="24px" src="../../../assets/imgs/icons/twitter.svg" alt="Email:">
          </a> -->

          <a target="_blank" [href]="'https://www.linkedin.com/in/thomasvcg/'"  class="iconWrapper">
            <img src="../../../assets/imgs/icons/linkedin.svg" alt="Email:">
          </a>

          <a target="_blank" [href]="'https://www.instagram.com/thomasvcg/'" class="iconWrapper">
            <img src="../../../assets/imgs/icons/instagram.svg" alt="Email:">
          </a>
        </div>

<!--         <div class="embaixadoresButton">
          <button>
              Embaixadores
          </button>
        </div> -->
     </div>
  </div>

  <div class="menu faixaInferior">

    <div class="d-flex align-items-center justify-content-between w-100" >
      <div [routerLink]="['/']" class="logo">
        <img src="../../../assets/imgs/Logo_cropped.png" [height]="logo.height" [width]="logo.width" alt="logo">
      </div>


      <span>
        <mat-icon ngbTooltip="Menu" (click)="toggleMenu()" class="menu-icon">menu</mat-icon>
      </span>
    </div>





      <ul class="menuOpt">
        <li style="white-space: nowrap;" [routerLink]="[i.link]" *ngFor="let i of menu">
          {{i.nome}}
        </li>
      </ul>

  </div>

</nav>
