
<!-- partial:index.partial.html -->
<div class="menu">
  <div class="toggle"><mat-icon [ngbTooltip]="'Adicionar Transação'" name="logo-facebook">build</mat-icon>
    </div>

      <li style="--i:0;--clr:#990303">
      <button (click)="emitAddTransac()">
        <mat-icon [ngbTooltip]="'Adicionar Transação'" name="logo-facebook">add_circle</mat-icon></button>
    </li>
    <li style="--i:1;--clr:#224EE8">
      <button (click)="emitAddConta()">
        <mat-icon [ngbTooltip]="'Adicionar Conta'" name="logo-facebook">person_add</mat-icon></button>
    </li>
    <li style="--i:2;--clr:#1da1f2">
      <button (click)="emitIrAoTopo()">
        <mat-icon [ngbTooltip]="'Ir para o topo'" name="logo-facebook">keyboard_arrow_up</mat-icon></button>
    </li>
     <!-- <li style="--i:3;--clr:#FF5733">
      <button href="#"><mat-icon [matTooltip]="'Dashboard'" name="logo-facebook">add_circle</mat-icon></button>
    </li>
    <li style="--i:4;--clr:#0a66c2">
     <mat-icon [matTooltip]="'Dashboard'" name="logo-facebook">add_circle</mat-icon>
    </li>
    <li style="--i:5;--clr:#c32aa3">
     <mat-icon [matTooltip]="'Dashboard'" name="logo-facebook">add_circle</mat-icon>
    </li>
    <li style="--i:6;--clr:#1b1e21">
     <mat-icon [matTooltip]="'Dashboard'" name="logo-facebook">add_circle</mat-icon>
    </li>
    <li style="--i:7;--clr:#ff0000">
     <mat-icon [matTooltip]="'Dashboard'" name="logo-facebook">add_circle</mat-icon>
    </li> -->
</div>
<!-- partial -->



