<div class="mainWrapperaboutUs">
  <tc-navbar></tc-navbar>
  <!-- Conteúdo -->
  <section class="inHonorPageWrapper">
    <!-- Foto do inHonor  -->
      <section class="inHonorPicture">
        <img class="inHonorImg" src="https://ik.imagekit.io/b44ooyk8l/ThomasVcg/ElementosVisuais/emHonraPict.png?updatedAt=1738792245030" alt="inHonorPicture">
      </section>
    <!--  -->
    <section class="inHonorText">
      <h2 class="inHonorTitle">
        Em Honra
      </h2>

      <p class="inHonorDesc">
        <!-- Aqui fica a descrição da página -->
        Meu ofício é uma homenagem ao meu avô, Dr. Tomaz de Aquino. Jurista de incontestável qualidade, foi procurador federal e advogado, inspirando gerações de sua família a seguirem o Direito. Para fazer jus a esta história, não aceito, em meu trabalho, nada menos do que total profissionalismo e eficiência e inabalável ética nas relações interpessoais.
      </p>
      <span>
        <img src="https://ik.imagekit.io/b44ooyk8l/ThomasVcg/ElementosVisuais/Thomas%20Ceis%C3%B3stomo.png?updatedAt=1738792247926" alt="ThomasCrisostomo">
      </span>
    </section>
  </section>
  <tcv-footer></tcv-footer>
  <tcv-loading [loading]="isLoading"></tcv-loading>
</div>
