<div class="mainWrapperaboutUs">
  <tc-navbar></tc-navbar>

  <section class="aboutUsDescicao">
    <header class="aboutUsTitulo">
      <h1>
        <!-- Aqui fica titulo -->
        Sobre Nós
      </h1>
    </header>

    <article class="aboutUsDescricao">
      <p>
        <!-- Aqui fica a descrição da página -->
        Este escritório trabalha com advogados especializados em diversos ramos
        do direito. De acordo com o seu problema, eu vou trazer o melhor
        profissional disponível para trabalharmos uma solução.
      </p>
    </article>
    <span>
      <img src="./../../../assets/imgs/visualComponents/Thomas Ceisóstomo.png" alt="ThomasCrisostomo">
    </span>
  </section>

  <!-- Aqui fica o carrousel que o cliente pediu -->

  <section class="aboutUsCasting">
    <header class="aboutUsTitulo">
      <!-- Aqui titulo do elenco -->
      <h1>Elenco</h1>
    </header>
    <div class="slideWrapper">
      <div class="keen-slider" #sliderRef>
        <div
          *ngFor="let i of dadosAreaAtuacao.content; index as y"
          [class]="'keen-slider__slide cardElenco'">
          <span class="iconElencoWrapper">
            <img
            class="iconElenco"
            width="361px"
            height="580px"
            [src]="i.header" alt="icon">
          </span>

          <div class="descricao">
            <article class="titulo">
              {{i.main}}
            </article>
            <p class="subtitulo">
              {{i.footer}}
            </p>
          </div>

          <div class="callToActionButtons">
            <a
            class="talkWithUs"
            [routerLink]="['/faleconosco']"
            rel="noopener noreferrer">
              contate-nos
          </a>
          <a
            class="whatsapp"
            [href]="'https://api.whatsapp.com/send?phone=5508173003237&text='+ msg"
            target="_blank"
            rel="noopener noreferrer">
              Whatsapp
          </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <tcv-footer></tcv-footer>
  <tcv-loading [loading]="isLoading"></tcv-loading>
</div>
