

<section class="sobreNosDescicao">
  <header class="sobreNosTitulo">
    <h1>
      <!-- Aqui fica titulo -->
    </h1>
  </header>

  <article class="sobreNosDescricao">
  <p>
    <!-- Aqui fica a descrição da página -->
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum saepe, aliquid rerum ipsam fuga ipsum id quasi corporis alias consequuntur quis.
  </p>
  </article>
</section>


<!-- Aqui fica o carrousel que o cliente pediu -->

<section class="sobreNosElenco">
  <header>
    <!-- Aqui titulo do elenco -->
    <h2>Elenco</h2>
  </header>

  <article>
  <!-- Aqui põe o carrousel -->
    <tc-multi-cards [dados]="dadosAreaAtuacao">
    </tc-multi-cards>
  </article>
  

</section>