[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;


}
.keen-slider:not([data-keen-slider-disabled]) {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  width: 100rem;
box-sizing: border-box;
padding: 1.5rem;
cursor: pointer;





}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}


.slideWrapper{
width: 90%;

overflow: hidden;
}
.number-slide1 {

  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
  animation:fadeIn .3s ease;
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}



.cardElenco{
  background-color: #1C1C1C;
  padding:1.5rem;
  border-radius: 16px;

  .iconElencoWrapper{
    border-radius: 16px;

    justify-content: center;
    display: flex;

    .iconElenco{
      border-radius: 16px;
    }
  }

  .descricao{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;


    .titulo{
      color: #fff;
      font-size: 28px;
      font-weight: 500;
      margin: 0.5rem 0rem 0.5rem 0rem;
    }

    .subtitulo{
      color: #d4d2d2;
    }
  }




  .callToActionButtons{
    display: flex;
    margin-top: 1.5rem;
    column-gap: 1.5rem;
    a{
      text-decoration: none;
      font-size: 10px;
    }
    .talkWithUs{
      text-transform: uppercase;
      color: #fff;
      background:linear-gradient(180deg, rgba(13,144,194,1) 20%, rgb(0, 94, 97)) ;
      border: none;
      border-radius:15px ;
      font-size: 16px;
      font-weight: 500;
      padding: 1rem;
      width: 10rem;
      height: 1.5rem;
      transition:  .3s ease;
      appearance: none;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;

      span>img{
        width: 35px;
        height: 35px;
        color: white;
      }

      &:hover{
        transform: scale(1.1);
        transition: .3s ease;
        box-shadow:  #0d90c2 0px 0px 36px 0px;
      }
    }
    .whatsapp{
      text-transform: uppercase;
      color: #fff;
      background:linear-gradient(180deg, #2fd14d 20%, #005e61) ;
      border: none;
      border-radius:15px ;
      font-size: 16px;
      font-weight: 500;
      padding: 1rem;
      width: 10rem;
      height: 1.5rem;
      transition:  .3s ease;
      appearance: none;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;

      span>img{
        width: 35px;
        height: 35px;
        color: white;
      }


      &:hover{
        transform: scale(1.1);
        transition: .3s ease;
        box-shadow:  #00ff2f 0px 0px 36px 0px;
      }
    }
  }
  }
