<div class="mainWrapperaboutUs">
  <tc-navbar></tc-navbar>

  <section class="aboutUsDescicao">
    <header class="aboutUsTitulo">
      <h1>
        <!-- Aqui fica titulo -->
        Sobre Nós
      </h1>
    </header>

    <article class="aboutUsDescricao">
      <p>
        <!-- Aqui fica a descrição da página -->
        Este escritório trabalha com advogados especializados em diversos ramos
        do direito. De acordo com o seu problema, eu vou trazer o melhor
        profissional disponível para trabalharmos uma solução.
      </p>
    </article>
    <span>
      <img src="https://ik.imagekit.io/b44ooyk8l/ThomasVcg/ElementosVisuais/Thomas%20Ceis%C3%B3stomo.png?updatedAt=1738792247926" alt="ThomasCrisostomo">
    </span>
  </section>

  <!-- Aqui fica o carrousel que o cliente pediu -->

  <section class="aboutUsCasting">
    <header class="aboutUsTitulo">
      <!-- Aqui titulo do elenco -->
      <h1>Parceiros</h1>
    </header>
    <div class="slideWrapper">
      <!--  class="keen-slider" #sliderRef -->
      <div class="slideInsideWrapper">
        <div
          *ngFor="let i of dadosAreaAtuacao.content; index as y"
          [class]="'keen-slider__slide cardElenco'">
          <span class="iconElencoWrapper">
            <mat-icon
            class="iconElenco"
            (click)="openModal(content,i)"
              ngbTooltip="Mais informações">info</mat-icon>
            <img
            width="300px"
            height="500px"
            [src]="i.header" alt="icon">
          </span>

          <div class="descricao">
            <article class="titulo">
              {{i.main}}
            </article>
            <p class="subtitulo">
              {{i.footer}}
            </p>
          </div>

          <div class="callToActionButtons">
            <a
            class="talkWithUs"
            [routerLink]="['/faleconosco']"
            rel="noopener noreferrer">
              contate-nos
          </a>
          <a
            class="whatsapp"
            [href]="'https://api.whatsapp.com/send?phone=5508173003237&text='+ msg"
            target="_blank"
            rel="noopener noreferrer">
              Whatsapp
          </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <tcv-footer></tcv-footer>
  <tcv-loading [loading]="isLoading"></tcv-loading>
  <ng-template #content class="customModal" let-modal>
    <div style="background-color:#0d292a; color: white" class="modal-header d-flex align-items-center">
      <span class="mr-1"></span>
      <h4 class="modal-title" id="modal-basic-title">{{this.modalContent.main}}</h4>
      <mat-icon style="color: #fff; cursor: pointer;" aria-label="Close" (click)="modal.dismiss(false)" class="mat-18">close</mat-icon>

    </div>
    <div style="
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0d292a;
    color: white;
    height: auto;" class="modal-body">
     <!--  <img
      width="361px"
      height="580px"
      [src]="this.modalContent.header"> -->
      <p>
        {{this.modalContent.info}}
      </p>
    </div>

    <div style="background-color: #0d292a;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;"
    class="modal-footer">
    <div class="callToActionButtons">
      <a
      target="_blank"

      [href]="'https://api.whatsapp.com/send?phone=5508173003237&text='+ msg+'.'"
      class="talkWithUs"
      [type]="'APRESENTACAO'">
        Contate-nos
      </a>
    </div>

    </div>
  </ng-template>
</div>
