<div class="mainWrapperLogin">

<section class="loginFormWapper">

  <form class="loginWrapper" >
    <!-- <header class="formHeader">
      <img src="./../../../assets/imgs/Logo_cropped.png" height="165px" width="165px" alt="logo">
    </header> -->
    <div *ngIf="state =='login' " class="loginform">
      <input type="text" required [(ngModel)]="user.email" name="username" placeholder="Email">
      <input type="password" required [(ngModel)]="user.password" name="password"  placeholder="Senha">
    </div>

    <div *ngIf="state =='register'" class="loginform">
      <input type="text" required [(ngModel)]="user.email" name="username" placeholder="Email">
      <input type="password" required [(ngModel)]="user.password" name="password"  placeholder="Senha">
      <input type="password" required [(ngModel)]="user.repeatPassword" name="repeatPassword"  placeholder="Repita a senha">
    </div>
    <button class="primaryButton" (click)="onLogin(
         this.user.email,
      this.user.password
    )" *ngIf="state =='login'">
      Entrar
    </button>

    <button class="primaryButton" (click)="onRegisterFireBase(
      this.user.email,
      this.user.password
    )" *ngIf="state =='register'">
      Registrar
    </button>

    <span class="googleLogin">
      <img src="https://ik.imagekit.io/b44ooyk8l/ThomasVcg/ElementosVisuais/icons/google.png?updatedAt=1739478701696" alt="Google" height="35px" width="35px">
    </span>
    <span>
  <!--     <span>Não tem uma conta?</span> -->
      <span class="registerLink" (click)="changeState()">{{ state == 'login' ? 'Registrar-se' : 'Login'}}</span>
    </span>

  </form>
</section>

</div>
