/* Apply a background color and a font to the whole login page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the logo container */
.formHeader {
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.loginWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  padding: 4rem;
  background: rgba(0, 0, 0, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);

}

.registerLink{
color: #fff;
font-weight: 600;
font-size: 14px;
cursor: pointer;
}



.googleLogin{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }

.loginform{
  width: 100%;
}
/* Input fields styling */
input {
  background-color: #222;
  border: none;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  appearance: none;
}
input:focus-visible {
  outline: #4CAF50 solid 1px;
  transition: .1s ease;
}

/* Placeholder color */
::placeholder {
  color: #ddd;
}

/* Login button styling */
.actions button {
  background-color: #56a75f;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* Disabled button styling */
.actions button:disabled {
  background-color: #35623e;
}

/* Social login buttons */
.social-login {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-login a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  width: 48%;
}

/* Facebook button styling */
.social-login .facebook {
  background-color: #3b5998;
}

/* Google button styling */
.social-login .google {
  background-color: #dd4b39;
}

/* Responsive design: Make the login box narrower on smaller screens */
@media (max-width: 600px) {
  .login-container {
    width: 90vw;
  }
}
