<footer class="footer">
    <div class="footerWrapper">
      <!-- <div class="email-section">
        <p>Inscreva-se para receber atualizações no seu email</p>
        <input class="form-control"  type="email" placeholder="Seu email">
        <button >Enviar</button>
      </div> -->

      <div class="contact-info">
        <h5><strong>SAC (Serviço de atendimento ao cliente)</strong></h5>
        <p><strong>Contato:</strong> contato@thomasvcg.com</p>
        <p><strong>Telefone:</strong> 81 9 7300-3237</p>
        <p><strong>Endereço:</strong> Av. Pres. Getúlio Vargas, 930 - sl. 10 - Bairro Novo, Olinda - 53.030-010</p>
        <p><strong>Horário de atendimento:</strong>Segunda a sexta, das 8h às 18h</p>
      </div>


  </div>
  <div class="additional-info">
    <h6>Thomas Crisóstomo © </h6>
    <h6>Todos os direntos resevados</h6>
  </div>


</footer>
