<footer class="footer">
    <div class="footerWrapper">
      <div class="email-section">
        <p>Inscreva-se para receber atualizações no seu </p>
        <input class="form-control"  type="email" placeholder="Seu email">
        <button >Enviar</button>
      </div>

      <div class="contact-info">
        <h5>SAC (Serviço de atendimento ao cliente)</h5>
        <p>Contato: contato@exemplo.com</p>
        <p>Telefone: (XX) XXXX-XXXX</p>
        <p>Endereço: Rua exemplo, 1234</p>
        <p>Segunda a sexta, das 8h às 18h</p>
      </div>

      <div class="footer-menu">
        <a href="/home">Home</a>
        <a href="/quem-somos">Quem somos</a>
        <a href="/fale-conosco">Fale conosco</a>
        <a href="/publicacoes">Publicações</a>
      </div>
  </div>
  <div class="additional-info">
    <h4>Thomas Crisóstomo © </h4>
    <h4>Todos os direntos resevados</h4>
  </div>


</footer>
