@import "./../core/_core_token.scss";
@import "./../layout/_keyframes.scss";

/* Todas as páginas Independente de  */
div.mainWrapperHome{
  width: 100vw;
  height: auto;
  background: url(../../../assets/imgs/backgrounds/BG_Home.png) no-repeat center center;
  background-size: cover;
}

div.mainWrapperaboutUs{
  width: 100vw;
  height: auto;
  background: url(../../../assets/imgs/backgrounds/BG_SobreNos_.png) no-repeat center center;
  background-size: cover;
}

div.mainWrapperPostagem{
  width: 100vw;
  height: auto;
  background: url(../../../assets/imgs/backgrounds/BG_Postagens_.png) no-repeat center center;
  background-size: cover;
}

div.mainWrapperFaleConosco{
  width: 100vw;
  height: auto;
  background: url(../../../assets/imgs/backgrounds/BG_FaleConosco_.png) no-repeat center center;
  background-size: cover;
}

/* Titulos */

h1,h2,h3{

  background-image: linear-gradient(180deg, rgba(13,144,194,1) 20%, rgb(0, 94, 97)) ;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media screen and (min-width:768px) {
  //Páginas de Login e cadastro
  //Home
  //NavBar
  nav{
    div.faixaSuperior{
      display:flex;
      height:3.125rem;
      width: 100vw;
      align-items: center;
      justify-content: space-around;
      background: #272727ab;
      color:$background-white ;
      div.contato{
        display: flex;
        align-items: center;
        width: 27.09rem;
        column-gap: 1rem;
        span.icon{
          display: flex;
          align-items: center !important;
          column-gap: 1rem;

        }
      }

      div.socialMediaButton{
        display: flex;
        align-items: center;
        column-gap: 1rem;
        div.socialMedia{
          display: flex;
          column-gap: 0.6rem;
        }

        div.embaixadoresButton{
          button{
            appearance: none;
            height:3.125rem;
            border: none;
            font-weight: bold;
          }
        }
      }
    }

    div.faixaInferior{
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      color: $background-white;
      background: rgba(255, 255, 255, 0.18);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.9px);
      -webkit-backdrop-filter: blur(8.9px);
      border: 1px solid rgba(255, 255, 255, 0.45);

      ul{
        display: flex;
        align-items: center;
        column-gap: 1rem;
        li{
          padding: 1rem;
          cursor: pointer;
          box-sizing: border-box;
          list-style-type: none;
          border-radius: 30px;
          transition:  0.3s ease-in-out;
          font-weight: 600;
          &:hover{
            background-color: #cccccc2e;
          }
        }
      }
    }
  }




  section.apresentacao1{
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    margin-bottom: 5rem;
    background: linear-gradient(91deg, #0D292A 65.53%, rgba(13, 41, 42, 0.00) 85.8%);
    img.container{
      margin-left: 0px;
      padding-left: 0px;

    }
    div.descricaoWrapper{
      display: flex;
      align-items: center;
      width: 100vw !important;
      justify-content: space-around;
      padding: 0rem 5rem;

      div.descricao{
        display: flex;
        flex-direction: column;
        color: white;
        row-gap: 2rem;
        width: 40rem;
        align-items: center;
        h1.titulo{
          font-size: 3em;
          font-weight: 500;
          color: $background-white;
          white-space: wrap;
        }

        article{
          font-size: 24px;
        }

        span.destaque{
          font-weight: 600;
          background-image: linear-gradient(180deg, rgba(13,144,194,1) 20%, rgb(0, 94, 97)) ;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
         }
      }
      span.imgThomas1{
        img{
          height: 37rem;
          animation: fade-in 0.5s ease-in 0s 1 normal none;
        }
      }
    }
  }
/*
  section.apresentacao2{
    display: flex;
    margin-top: 7rem;
    align-items: center;
    img.container{
      margin-right: 0px;
      padding-right: 0px;
      height: 37rem;
    }
    div.descricaoWrapper{
      display: flex;
      position: absolute;
      flex-direction: row-reverse;
      align-items: center;
      width: 100vw !important;
      justify-content: space-between;
      padding: 0rem 5rem;

      div.descricao{
        display: flex;
        flex-direction: column;
        color: white;
        row-gap: 1rem;
        width: 25.2rem;

        h1.titulo{
          font-size: 4rem;
          font-weight: 600;
          color: $background-white;
        }
      }
      span.imgThomas1{
        img{
          height: 37rem;
        }
      }
    }
  } */

.areasDeAtuacaoHomeWrapper{
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  background: linear-gradient(270deg, #0D292A 37.12%, rgba(13, 41, 42, 0.00) 92.96%);
  padding-top:1rem ;
  padding-bottom: 1rem;
  .areasDeAtuacaoHome{
    width: 100%;
    display: flex;
    flex-flow:column nowrap;
    align-items: start;
    span{
      margin: 1.5rem;
      border-bottom: 2px linear-gradient(180deg, rgba(13,144,194,1) 20%, rgb(0, 94, 97)) solid;
      cursor:pointer;
      h2{
        font-weight: 600;
        font-size: 3rem;
          background-image: linear-gradient(180deg, rgba(13,144,194,1) 20%, rgb(0, 94, 97)) ;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        &:hover{
          font-weight: 800;
          background-image: linear-gradient(180deg, rgba(13,144,194,1) 20%, rgb(0, 94, 97)) ;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
      }
    }
  }
}

  .depoimentosHome{
    *{
      color: #fff;
    }
    width: 100%;
    display: flex;
    flex-flow:column nowrap;
    align-items: start;
    padding: 2rem;
    span.depoimentoTitle{
      margin: 1rem;
      cursor:pointer;
      h2.destaque{
        font-size: 48px;
        font-weight: 600;
        background-image: linear-gradient(180deg, rgba(13,144,194,1) 20%, rgb(0, 94, 97)) ;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
       }
    }

    .depoimentoPosition{
      width: 100%;
      display: flex;
      flex-flow:column nowrap;
      row-gap:  1.5rem;
      height: 54rem;
      overflow-y: auto;
     /*  .profileWrapperFixed{
        display: flex;
        justify-content: center;
        align-items:center;
        width: 100%;
        border-radius: 1.25rem;
        background: linear-gradient(83deg, #0D292A 27.34%, #0D292A 84.43%);
        padding: 1.5rem;
        position: fixed;
        left: 1.5rem;
        top: 20%;
        transition: position 0.5s ease;
        .profile{
          display: flex;
          flex-direction: column;
          width: 26.9895rem;
          height: 39.625rem;
          border-radius: 1.25rem;
          background: rgba(0, 0, 0, 0.80);
          padding: 1.5rem;
          row-gap: 1.5rem;
          .profileImgWrapper{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            row-gap: 1.5rem;
            .profileImg{
              border-radius: 50%;
              width: 5.5rem;
              height: 5.5rem;
            }
          }
          .profileText{
            width: 100%;
            display: flex;
            align-items: start;
            flex-flow: column wrap;
            row-gap: 1.5rem;
          }
        }
      } */
      }
      .profileWrapper{
        display: flex;
        justify-content: center;
        align-items:center;
        width: 100%;
        border-radius: 1.25rem;
        background: linear-gradient(83deg, #0D292A 27.34%, #0D292A 84.43%);
        padding: 1.5rem;
        transition: position 0.5s ease;
        .profile{
          display: flex;
          flex-direction: column;
          width: 100%;
          border-radius: 1.25rem;
          background: rgba(0, 0, 0, 0.80);
          padding: 1.5rem;
          row-gap: 1.5rem;
          .profileImgWrapper{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            row-gap: 1.5rem;
            .profileImg{
              border-radius: 50%;
              width: 5.5rem;
              height: 5.5rem;
            }
          }
          .profileText{
            width: 100%;
            display: flex;
            align-items: start;
            flex-flow: column wrap;
            row-gap: 1.5rem;
          }
        }
      }

      .depoimentosWrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: max-content;
        row-gap: 1.5rem;

        .depoimentosWrap{
          background: linear-gradient(83deg, #0D292A 27.34%, #0D292A 84.43%);
          width: 100%;
          height: 18.4375rem;
          padding: 1.5rem;
          border-radius: 1.25rem;
          display: flex;
          justify-content: flex-end;


          .quoteWrapper{
            background: #000;
            color: #fff;
            width: 100%;
            opacity: 0.5;
            height: 15.375rem;
            display: flex;
            justify-self: center;
            padding: 1rem;
            border-radius: 1.25rem;
            p{
              font-style: italic;
            }

          }

          .quoteAutor{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
          }


        }
    }



  }
  .calltoAction{
    margin: 3rem 0rem;
    width: 100%;
    background: #0D292A;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    padding: 2rem;

    .calltoActionTitle{
      display: flex;
      justify-content: center;
      text-transform: capitalize;
      letter-spacing: 1.5px;
      font-size: 36px;
      font-weight: 600;
      background-image: linear-gradient(180deg, rgba(13,144,194,1) 20%, rgb(0, 94, 97)) ;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

.callToActionButtons{
    display: flex;
    column-gap: 1.5rem;
    .talkWithUs{
      text-transform: uppercase;
      letter-spacing: 1.3px;
      color: #fff;
      background:linear-gradient(180deg, rgba(13,144,194,1) 20%, rgb(0, 94, 97)) ;
      border: none;
      border-radius:15px ;
      font-size: 16px;
      font-weight: 500;
      padding: 1rem;
      width: 14rem;
      height: 3.43rem;
      transition:  .3s ease;
      appearance: none;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;

      span>img{
        width: 35px;
        height: 35px;
        color: white;
      }

      &:hover{
        transform: scale(1.1);
        transition: .3s ease;
        box-shadow:  #0d90c2 0px 0px 36px 0px;
      }
    }
    .whatsapp{
      text-transform: uppercase;
      letter-spacing: 1.3px;
      color: #fff;
      background:linear-gradient(180deg, #2fd14d 20%, #005e61) ;
      border: none;
      border-radius:15px ;
      font-size: 16px;
      font-weight: 500;
      padding: 1rem;
      width: 14rem;
      height: 3.43rem;
      transition:  .3s ease;
      appearance: none;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;

      span>img{
        width: 35px;
        height: 35px;
        color: white;
      }


      &:hover{
        transform: scale(1.1);
        transition: .3s ease;
        box-shadow:  #00ff2f 0px 0px 36px 0px;
      }
    }
  }
  }



  .button_multicards{
      background: $accent-colors;
      color: #fff;
      width: 10rem;
      appearance: none;
      border:none;
      box-shadow:$shadow2;
      border-radius: 7px;
      display: flex;
      padding: 0.8rem;
  }

  div.mainWrapperaboutUs{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1.5rem;
    max-width: 100vw;

    section.aboutUsDescicao{
      display: flex;
      flex-flow: column;
      margin: 0 20%;
        header.aboutUsTitulo{
          h1{
            font-size: 48px;
            font-weight: 500;
          }
        }
          article{
            p{
              font-size: 24px;
              color: #fff;
            }
          }
        }

  }



  section.inHonorPageWrapper{
    display: grid;
    grid-template-columns: 55% 45%;
    column-gap: 1rem;
    margin: 4rem 0rem;
    max-width: 100vw;
    section.inHonorPicture{
      display: grid;
      justify-self: center;
      align-items: center;
      height: auto;
      width: 100%;

      img.inHonorImg{
        border-radius: 80px;
        height: 50rem;
        width: 40rem;
        justify-self: center;
      }
    }
    section.inHonorText{
      max-width: 41rem;
      background: rgba(255, 255, 255, 0.18);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.9px);
      -webkit-backdrop-filter: blur(8.9px);
      border: 1px solid rgba(255, 255, 255, 0.45);
      padding: 1.5rem;
      border-radius: 16px;
      h2.inHonorTitle{
        font-size: 48px;
        font-weight: 600;
        margin-bottom:1.5rem;
        text-transform: capitalize;
      }

      p.inHonorDesc{
        font-size: 24px;
        font-size: 500;
        color: white;
        letter-spacing: 1.6px;

      }
    }


  }

}



